<div class="upper-part">
<p class="log">weather.ng</p>
<div class="col-md-6 col-md-offset-3 dropin">
<div class="form-horizontal">
  <div class="form-group">
    <label for="filter" class="tag">Select your Location</label>
     <select class="form-control" [(ngModel)]="city" (change)="getWeather(city)">
        <option value="select-one">--Select One--</option>
        <option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</option>
    </select>
   </div>
</div>
</div>

</div>

<div>
  <div>
    <div *ngIf="showInfo"  class="text-center text-primary">
      <h3>Weather information for {{today | date:'fullDate'}} </h3>
      <h4>Today's weather</h4>
      <h4 class="text-success"><i class="fa fa-map-marker" aria-hidden="true"> {{currentLocation}}</i></h4>
      <p>Maximum Temperature:{{maxTemp}} </p>
      <p>Average Temperature: {{avgTemp}} </p>
      <p>Minimum Temperature: {{minTemp}}</p>
      <p>Humidity: {{humidity}} </p>
      <p>Pressure: {{pressure}} </p>
      <div><button type="button" class="btn btn-primary" (click)="showBtn()">Get 7 days forecast</button></div>
    </div>
    <div *ngIf="showForecast"  class="text-center text-success">
      <h3>Daily Forecast for 7 days</h3>
        <div *ngFor="let daily of forecastData; let i = index" >
            <h4><u>Day {{i + 1}}</u></h4>
              <p>Humidity: {{daily.humidity}}</p>
              <p>Pressure: {{daily.pressure}}</p>
              <p>Maximum Temparature: {{daily.temp.max}}</p>
              <p>Minimum Temparature: {{daily.temp.min}}</p>
              <p>General outlook: {{daily.weather[0].description}}</p>
        </div>
        <button class="btn btn-success" (click)="showForecast = false">Hide Forecast</button>
    </div>
  </div>
  
</div>
<footer class="myFooter">
  <p class="text-center"> &copy; {{thisYear}} | @EniolaLucas </p>
</footer>

